body {
    margin: 0 auto;
}
body, td, th {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 12px;
}
td, th {
    vertical-align: top;
}
th {
    text-align: center;
}
.font-normal th {
    font-weight: normal;
    vertical-align: middle;
}
.kop {
    border-spacing: 0;
    border-collapse: collapse;
}
.kop td {
    padding: 0;
    text-align: center;
}
.kop-univ td {
    font-size: 16px;
    line-height: 1.1;
}
.kop-fak td {
    font-size: 24px;
    font-weight: bold;
    line-height: 1.1;
}
.kop-prodi td {
    font-size: 18px;
    font-weight: bold;
    line-height: 1.1;
    padding-bottom: 5px;
}
.header td, .header th {
    font-size: 16px;
}
.mid td, .mid th {
    font-size: 14px;
}
.center td, .center th {
    text-align: center;
    vertical-align: middle;
}
table.border {
    border-collapse: collapse;
}
table.border td, table.border th {
    border: 1px solid black;
}
tr.noborder td, tr.noborder th {
    border: none;
}
hr {
    margin: 10px auto;
    border: 1px solid black;
    border-width: 1px 0 0 0;
}
.text-center {
    text-align: center;
}
.btn-flat {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-width: 1px;
}
.btn.btn-primary {
    background-color: #0052A2;
    border-color: #008D4C;
}
.btn.btn-primary:hover, .btn.btn-primary:active, .btn.btn-primary.hover {
    background-color: #008D4C;
}
.bg-info {
    background-color: #D9EDF7;
}
.bg-success {
    background-color: #DFF0D8;
}

.title{
    font-size: 14px;
    font-weight: bold;
}